<!DOCTYPE html>
<html lang="en">
<head>
    <title>WM</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
    </style>
    <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
    <div class="image-frame">
        <div>
            <!-- 이미지 클릭시 map.ejs로 전환 구현해야함 -->
            <a href="/main"><img src="images/EarthIMG.jpg" alt="Earth"></a>
        </div>
        <div class="maintitle">WOrlD MAp</div>
        <div class="subtitle">about world</div>
    </div>
</body>
</html>